[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = true
allow_bold = true
dynamic_title = false
urgent_on_bell = true
clickable_url = true
font = Meslo LG S DZ Black 9
scrollback_lines = 1000
search_wrap = true
icon_name = terminal
geometry = 960x640
browser = xdg-open

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# set size hints for the window
#size_hints = false

# emit escape sequences for other keys modified by Control
modify_other_keys = false

# Jellybeans(?)
[colors]
# special
foreground      = #d8d8d8
foreground_bold = #d8d8d8
cursor          = #d8d8d8
background      = #050505

# black
color0  = #181818
color8  = #585858

# red
color1  = #ab4642
color9  = #ab4642

# green
color2  = #a1b56c
color10 = #a1b56c

# yellow
color3  = #f7ca88
color11 = #f7ca88

# blue
color4  = #7cafc2
color12 = #7cafc2

# magenta
color5  = #ba8baf
color13 = #ba8baf

# cyan
color6  = #86c1b9
color14 = #86c1b9

# white
color7  = #d8d8d8
color15 = #f8f8f8




#
# # pencil dark
# [colors]
# # special
# foreground      = #f1f1f1
# foreground_bold = #f1f1f1
# cursor          = #f1f1f1
# background      = #212121
# # black
# color0  = #212121
# color8  = #424242
# # red
# color1  = #c30771
# color9  = #fb007a
# # green
# color2  = #10a778
# color10 = #5fd7af
# # yellow
# color3  = #a89c14
# color11 = #f3e430
# # blue
# color4  = #008ec4
# color12 = #20bbfc
# # magenta
# color5  = #523c79
# color13 = #6855de
# # cyan
# color6  = #20a5ba
# color14 = #4fb8cc
# # white
# color7  = #d9d9d9
# color15 = #f1f1f1

[hints]
#font = Monospace 12
#foreground = #dcdccc
#background = #3f3f3f
#active_foreground = #e68080
#active_background = #3f3f3f
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

# vim: ft=dosini cms=#%s
